<div class="simple-content">
  <p><strong>Partial</strong> content.</p>

<p>This works a bit differently than static pages.</p>

<p>If used in a collection defined after the partial collection, then the full FrontMatter output will be displayed. This means we can use it only in a custom collections defined after the partials collection inside _config.yml</p>

<p>If used elsewhere, it’ll behave similarly to static pages - the original HTML/MD will be injectrd.</p>

<p>Usage:  {{ partials | find: “path”, “_partials/partial.md” }}</p>


</div>
